@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');

* {
  --background: rgb(231, 231, 231);
  --blue: rgb(96, 215, 255);
  --light-yellow: rgb(241, 215, 147);
  --gold-yellow: goldenrod;
  --dark-yellow: rgb(180, 136, 22);
  --text-color-link: white;
  --modal-background: rgba(0,0,0, 0.5);
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
  background-color: var(--background);
  vertical-align: middle;
}

@media(min-width: 768px) {

}

hr {
  height:0px;
  border:none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--modal-background);
}

.popup-inner {
  position: fixed;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background-color: var(--background);
}

.nav-bar {
  background-color: var(--blue);
}

.app-name {
  padding: 0.5em;
}

.nav-links-container{
  display: flex;
  /* align-items: flex-start; */
}

.nav-link {
  background-color: var(--gold-yellow);
  color: var(--text-color-link);
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em 1em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-link:hover {
  background-color: var(--dark-yellow);
}

div.app-name{
  display: flexbox;
}

div.app-name img {
  display: flex;
}

div.app-name h1 {
  display: flex;
}

.page-title {
  background-color: var(--blue);
}

.container-1 {
  display: flex;
  /* align-items: flex-end; -start -center actually makes all boxes inside with different hieghts*/
  flex-direction: column;
  /* justify-content: space-between; divides the space inbetween the boxes, and live a spece inbetween
  in the container you have to specify a width of 30% for example! (or flex-basis) */
}

.container-1 div {
  /* border: 1px var(--dark-yellow) solid; */
  padding: 10px;
}

.container-ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.hollow {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.float-right {
  float: right!important;
}

.float-left {
  float: left!important;
}

.center {
  padding: 5.5rem;
}

.slick-carousel {
  width: auto;
  margin: 60px 50px 50px;
}

.slick-slide {
  background: blue;
  color: white;
  padding: 40px 0;
}

h3 {
  display: block;
}

input {
  width: auto;
  height: 1.5em;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  border: 2px solid var(--gold-yellow);
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  background-color: var(--light-yellow);
}

input[type=text] {
  width: 30em;
  height: 3em;
}

input[type=url] {
  width: 30em;
  height: 3em;
}

input[type=number] {
  width: 5em;
  height: 2em;
}

input[type=file] {
  width: auto;
  height: 4em;
  border: hidden;
}

input[type=submit] {
  height: 3em;
  /* align-items: flex-end; */
}

select {
  width: auto;
  height: 2em;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  width: auto;
  height: 2em;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1em;
}

.preparation-box {
  width: 99%;
  min-height: 200px;
  box-sizing: border-box;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
}
